.main{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: calc(var(--p-16) * 4);
    position: relative;
}
.bg{
    position: absolute;
    height: calc(100vh - 64px - 64px);
    inset: 0;
    width: 100%;
    filter: blur(100px) grayscale(1);
    z-index: -1;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.headerFig{
    width: 100%;
}
.headerImg{
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: contain;
}
.headerAside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
.title{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: start;
}
.title span, i{
    vertical-align: middle;
    font-size: small;
    margin-left: var(--m-8);
}
.status{
    font-weight: 400;
}
.description{
    font-weight: 400;
    font-size: small;
    display: flex;
    width: 100%;
    max-width: 768px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.description span{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.description span i{
    color: var(--c-text-color);
    margin-left: 0;
}
.description span:nth-child(1) i{
    color: var(--c-yellow);
}
.description > i{
    font-size: xx-small;
    font-weight: 200;
}
.synopsis{
    font-weight: 300;
}
.toggleBtn{
    margin-left: 0.5rem;
    font-weight: 600;
    color: var(--c-yellow);
}
.videoPlayer{
    width: 100%;
    margin-inline: auto;
}
.sectionHeader{
    margin-bottom: var(--m-16);
    text-align: left;
}
.streaming{
    width: 100%;
}
.streamingUl{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: disc;
    margin-left: 1rem;
}
.streamingLi a{
    color: var(--c-yellow);
}
.gallery{
    width: 100%;
}
@media ( max-width : 1199.98px){
    .main{
        padding: calc(var(--p-16) * 3);  
    }
}
@media ( max-width : 991.98px){
    .main{
        padding: calc(var(--p-16) * 2);  
    }
    .title{
        font-size: 2rem;
    }
    .status{
        font-size: medium;
    }
    .description{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .description span:last-child{
        width: max-content;
    }
}
@media ( max-width : 767.98px){
    .main{
        padding: var(--p-16);  
    }
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr;
    }
    .headerFig{
        width: 100%;
        padding-bottom: var(--p-16);
        display: flex;
        place-content: center;
    }
    .headerImg{
        aspect-ratio: 1;
        width: 75%;
        margin-inline: auto;
    }
}
@media ( max-width : 575px){
    .title{
        font-size: 1.5rem;
    }
    .headerImg{
        width: 100%;
        aspect-ratio: 4 / 5;
        object-fit: cover;
    }
    .status{
        font-size: small;
    }
    .description{
        font-size: small;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .description span:first-child{
        grid-area: 1/1/2/2;
    }
    .description span:last-child{
        grid-area: 4/1/5/2;
    }
    .synopsis{
        font-size: small;
    }
}