.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
}
.figure{
    width: 100%;
    position: relative;
}
.img{
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}
.score{
    position: absolute;
    bottom: 0.35rem;
    left: 0rem;
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.72);
    padding: var(--p-4);
    color: var(--c-text-color);
    font-size: small;

}
.score i{
    color: var(--c-yellow);
}
.aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.title{
    color: var(--c-white);
}

.aside p{
    color: var(--c-text-color);
    font-size: small;
}
.aside .rating{
    font-weight: bold;
}

.type{
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.72);
    padding: var(--p-4);
    position: absolute;
    bottom: 0.35rem;
    right: 0;
    color: var(--c-text-color);
    font-size: small;
}


