.nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    align-items: center ;
    background: transparent;
    color: var(--c-white);
    padding-inline: var(--p-24);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}
.header span:nth-child(1){
    font-weight: 800;
    font-size: larger;
}
.header span:nth-child(2){
    font-weight: 600;
    font-size: larger;
    color: var(--c-yellow);
}
.form{
    height: 2.5rem;
    width: 30%;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    place-content: center;
    background: var(--c-white);
    /* border-radius: 12px; */
}
.input,.button{
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: var(--c-bg-color);
    padding: var(--p-8) var(--p-4);
}
.input{
    padding: var(--p-20) var(--p-12) var(--p-20) var(--p-20);
    width: 100%;
    font-size: medium;
}
.input::placeholder{
    color: var(--c-bg-color);
    opacity: 0.7;
}
.button > i{
    font-size: large;
}
.searchData{
    position: absolute;
    height: auto;
    max-height: 500px;
    background: white;
    width: 30%;
    top: 64px;
    right: 1.5rem;
    color: black;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
    z-index: 10000; 
}
.errorMessage{
    position: absolute;
    top: 64px;
    right: 1.5rem;
    height: auto;
    color: var(--c-white);
    background-color: var(--c-bg-color);
    width: max-content;
    padding: 6px 12px;
    display: grid;
    place-content: center;
}
.searchData::--webkit-scrollbar{
    display: none;
}
.seeAllResults{
    display: block;
    width: 100%;
    height: 50px;
    font-size: medium;
    font-weight: 600;
    background: var(--c-hover);
    color: var(--c-oxford);
    display: grid;
    place-content: center;
}
.searchUl{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--c-bg-color);
    -ms-overflow-style: none;
    scrollbar-width: 0px;
    width: 100%;
}
.searchUl::--webkit-scrollbar{
    display: none;
}
.searchList{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 8px;
    width: 100%;
    border-bottom: 1px solid var(--c-hr-color);
    cursor: pointer;
    font-size: small;
    padding-inline: 8px;
    padding-right: 16px;
}
.searchList:first-child{
    padding-top: 6px;
}
.searchList:last-child{
    padding-bottom: 6px;
}

.searchImg{
    width: 75px;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    object-position: center;
}
.searchResultContainer{
    width: 100%;
    overflow: hidden;
    height: auto;
    display: grid;

}
.searchHeader{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--c-white);
}
.searchValues{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: var(--c-text-color);
    overflow: hidden;
    gap: 8px;
}
.searchValues > span{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.synopsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--c-text-color);
}
@media ( max-width : 1199.98px){
    .form,.searchData,.errorMessage{
        width: 40%;
    }
}
@media ( max-width : 991.98px){
    .form,.searchData,.errorMessage{
        width: 45%;
    }
}
@media ( max-width : 767.98px){
    .form{
        height: 2.25rem;
    }
    .input{
        font-size: small;
        padding: var(--p-16) var(--p-12) var(--p-16) var(--p-16);
    }
    .button > i{
        font-size: medium;
        padding-right: var(--p-16);
    }
    .searchList{
        gap:0px;
    }
    .searchData{
        width: 75%;
        right: 0;
    }
}
@media ( max-width : 575px){

    .nav{
        padding: var(--p-12);
    }
    .header span:nth-child(1), .header span:nth-child(2){
        font-size: large;
    }
    .searchData{
        right: 12px;
        width: 60%;
    }
    .form{
        width: 60%;
        height: 2rem;
    }
    .input{
        padding: var(--p-12) var(--p-8) var(--p-12) var(--p-12);
    }
    .searchData{
        right: 0;
        width: 100%;
        max-height: 75vh;
    }
    .searchHeader{
        font-size: small;
    }
    .searchList{
        gap:4px;
    }
    .searchValues{
        font-size: smaller;
    }
    .errorMessage{
        width: 60%;
    }
}