:root {
  /* Font family */
  --ff-inter : 'Inter', sans-serif;

  /* colors */
  --c-white : #fff;
  --c-oxford : #05386b;
  --c-green-s : #379683;
  --c-neon : #5cdb95;
  --c-neon-light : #8ee4af;
  --c-bg-color : #242428;
  --c-text-color : #79797b;
  --c-hover : #ffdd95;
  --c-yellow :#ffc107;
  --c-hr-color : #6e6e6e59;
  /* Padding */
  --p-4 : 0.25rem;
  --p-8 : 0.5rem;
  --p-12 : 0.75rem;
  --p-16 : 1rem;
  --p-20 : 1.25rem;
  --p-24 : 1.5rem;
  /* margin */
  --m-4 : 0.25rem;
  --m-8 : 0.5rem;
  --m-12 : 0.75rem;
  --m-16 : 1rem;
  --m-20 : 1.25rem;

  line-height: 1.5;
  background-color: var(--c-bg-color);
  color: var(--c-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
*{
  font-family: var(--ff-inter);
  margin: 0; padding: 0; box-sizing: border-box;
}
body{
  position: relative;
}
ul{
  list-style: none;
}
button{
  background: transparent;
  border: none;
  height: max-content;
}
a{
  text-decoration: none;
}
hr{
  width: 80%;
  margin-inline: auto;
  height: 1px;
  width: 90%;
  border: none;
  background: linear-gradient(transparent, var(--c-hr-color), transparent);
}
/* 
@media ( max-width : 1199.98px){
    
}
@media ( max-width : 991.98px){
    
}
@media ( max-width : 767.98px){
    
}
@media ( max-width : 575px){
    
}
 */